{% extends "djournal/base.html" %}

{% load humanize %}

{% block title %}{{ entry.title }} | {{ block.super }}{% endblock title %}

{% block content %}
    <article id="entry-{{ entry.id }}" class="entry">
        <header>
            <hgroup>
                <h1 class="title">
                    <a href="{% url djournal_entry_detail entry.slug %}">{{ entry.title }}</a>
                </h1>
                <h2 class="subtitle">{{ entry.subtitle }}</h2>
            </hgroup>
        </header>
        <section class="body">
            {{ entry.body_html|safe }}
        </section>
        <footer>
            <time datetime="{{ entry.created|date:"c" }}" pubdate>
                {{ entry.created|naturalday:"Y-m-d"|capfirst }}
            </time>
            <div id="tags">
                <ul>
                    {% for tag in entry.tags.all %}
                        <li>
                            <a href="{% url djournal_tagged_entry_index tag.slug %}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </footer>
    </article>
{% endblock content %}
{# vim:set ft=htmldjango #}
