{% extends "djournal/base.html" %}

{% load humanize %}

{% block title %}Index :: {{ block.super }}{% endblock title %}

{% block content %}
    <hgroup id="index-title">
        <h1>All Entries</h1>
    </hgroup>
    <table id="index">
        {% for entry in entries %}
            <tr>
                <td class="date">
                    <time datetime="{{ entry.created|date:"c" }}" pubdate>
                        {{ entry.created|naturalday:"Y-m-d"|capfirst }}
                    </time>
                </td>
                <td>
                    <span class="title">
                        <a href="{% url djournal_entry_detail entry.slug %}">{{ entry.title }}</a>
                    </span>
                    <span class="tags">
                        {% for tag in entry.tags.all %}
                            <a class="tag" href="{% url djournal_tagged_entry_index tag.slug %}">
                                {{ tag }}
                            </a>
                            {% if not forloop.last %}/{% endif %}
                        {% endfor %}
                    </span>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
{# vim:set ft=htmldjango #}
