/* Stylesheet for Lucentbeing.com */

body {
    background-color: #F4F4F4;
    color: #000000
    font-family: "AurulentSansRegular";
}

strong {
    font-family: "AurulentSansBold";
}

em {
    font-family: "AurulentSansItalic";
}

sup {
    font-size: 0.75em;
    vertical-align: super;
}

sub {
    font-size: 0.75em;
    vertical-align: sub;
}

/* Page Structure */

#canvas {
    margin: 0 auto;
    width: 512px;
}

