/* Stylesheet for Lucentbeing.com */

body {
    background-color: #F4F4F4;
    color: #000000;
    font-family: "AurulentSansRegular";
}

strong {
    font-family: "AurulentSansBold";
}

em {
    font-family: "AurulentSansItalic";
}

sup {
    font-size: 0.75em;
    vertical-align: super;
}

sub {
    font-size: 0.75em;
    vertical-align: sub;
}

/* Page Structure */

#canvas {
    margin: 0 auto;
    width: 512px;
}

/* Header */

body > header {
    border-bottom: solid 1px #DDDDDD;
    font-size: 0.75em;;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

body > header > h1 {
    display: inline;
    font-size: 1em;
    margin-left: 10px;
    position: absolute;
}

body > header > nav {
    text-align: right;
}

body > header > nav > ul li {
    display: inline;
    margin: 0px 7px;
}
