<!doctype html>

<html>
    <head>
        <title>500 :: Lucentbeing.com</title>
        <meta charset="UTF-8">
        <style>
            .error {
                width: 512px;
                margin: 0 auto;
                border-bottom: 1px solid #DFDFDF;
            }

            .error > hgroup {
                margin-top: 1em;
                text-align: center;
                border-bottom: 1px solid #DFDFDF;
                padding-bottom: 10px;
            }

            .error p {
                line-height: 1.5em;
                padding: 10px 0;
            }
        </style>
    </head>
    <body>
        <section class="error">
            <hgroup>
                <h1>500</h1>
                <h2>It's not your fault.</h2>
            </hgroup>
            <p>By now, I've probably gotten a dozen automated emails from my server telling me exactly what is wrong and what isn't in excruciating detail.</p>
            <p>I'll fix it. Eventually.</p>
        </section>
    </body>
</html>
