<!doctype html>

{% load typogrify_tags %}

<html>
    <head>
        <title>{% block title %}Lucentbeing.com{% endblock title %}</title>

        {% block head %}
            <meta charset="UTF-8">
        {% endblock head %}

        {% block css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/reset.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/style.css">
        {% endblock css %}

        <style>
            {% block styles %}
            {% endblock styles %}
        </style>

        {% block js %}
        {% endblock js %}

        <script>
            {% block scripts %}
            {% endblock scripts %}
        </script>
    </head>
    <body>
        {% filter typogrify %}
            {% block body %}
            {% endblock body %}
        {% endfilter %}
    </body>
</html>
{# vim:set ft=htmldjango: #}
