<!doctype html>

{% load disqus_tags %}
{% load typogrify_tags %}

<html>
    <head>
        <title>{% block title %}Lucentbeing.com{% endblock title %}</title>

        {% block head %}
            <meta charset="UTF-8">

            <meta name="description" content="The personal website of P.C. Shyamshankar.">
            <meta name="author" content="P.C. Shyamshankar">
            <meta name="Copyright" content="Copyright © 2008-2010 P.C. Shyamshankar. This work is under the CC-BY-NC-SA license unless otherwise mentioned.">

            <meta name="DC.title" content="Lucentbeing.com">
            <meta name="DC.subject" content="The personal website of P.C. Shyamshankar.">
            <meta name="DC.creator" content="P.C. Shyamshankar">

            <meta name="google-site-verification" content="r8kfeL3s4R8UedpeLJ_Ag9a9e6ZwCpjCOvUcE1-KKxA">

            <link rel="shortcut icon" href="{{ STATIC_URL }}/assets/img/icon.png">
        {% endblock head %}

        {% block css %}
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/reset.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/style.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/css/pygments.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/fonts/aurulent/aurulent.css">
            <link rel="stylesheet" href="{{ STATIC_URL }}/assets/fonts/inconsolata/inconsolata.css">
        {% endblock css %}

        <style>
            {% block styles %}
            {% endblock styles %}
        </style>

        {% block js %}
            <script src="{{ STATIC_URL }}/assets/js/modernizr-1.5.min.js"></script>
            {% disqus_dev %}
        {% endblock js %}

        <script>
            {% block scripts %}
            {% endblock scripts %}
        </script>
    </head>
    <body>
        {% filter typogrify %}
            {% block body %}
            {% endblock body %}
        {% endfilter %}

        <!-- Piwik -->
        <script type="text/javascript">
            var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.lucentbeing.com/" : "http://analytics.lucentbeing.com/");
            document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
        </script>

        <script type="text/javascript">
            try {
                var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
                piwikTracker.trackPageView();
                piwikTracker.enableLinkTracking();
            } catch(err) {}
        </script>

        <noscript>
            <p><img src="http://analytics.lucentbeing.com/piwik.php?idsite=1" style="border:0" alt="" /></p>
        </noscript>
        <!-- End Piwik Tag -->
    </body>
</html>
{# vim:set ft=htmldjango: #}
